In [4]:
# Detail Practice of Python Pandas and NumPy

# Variables and Data Types
x = "Asign Variable"
y = 2
z = 5.5
print(x,y,z)
#alternative
# here we are assigning the multiple values at same line
x,y,z = 'Assign Variable', 2, 5.5
print(x,y,z)

Asign Variable 2 5.5
Assign Variable 2 5.5

In [8]:
# Check data Types 
type(x)
type(y)
type(z)
# we can also use casting to convert one data type to another
w = int(z)
w

5

In [24]:
# string is also working like array/list
# we can play with string let suppose
st = 'Muhammad Adil'
print(st)
# we can grab this string character by character
print(st[0:]) # 0 to till end
print(st[9:]) # from 9th to till end
print(st[:9]) # 0 to to just 8th index

st1 = 'Muhammad'
st2 = 'Adil'
final = st1 + st2 # concatenate the string
print(final)

# we can perform some functionality with string to modify
strr = 'I am a good student that learn ASAP'
strr.upper()
strr.lower()
#important
strr.split(' ') # split string into list
a = "Hello"
print(a.replace("H", "J"))

#important
print('{} Muhammad Adil {name}'.format(a, name='Badshah'))

Muhammad Adil
Muhammad Adil
Adil
Muhammad
MuhammadAdil
Jello
Hello Muhammad Adil Badshah

In [30]:
# if-else condition
#Indendation is important
x, y = 5, 10
if x>5 and y<10:
    print('Between 5 and 10')
elif x == 5 and y == 10:
    print('Equal to 5 and 10')
else:
    print('Not both')

Equal to 5 and 10

In [47]:
# loops in python
for x in range(0,10):
    print(x)
v = 0
while v <5:
    print(v)
    v+=1

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4

In [54]:
# list 
# most important in python in array term
first = [1, 2, 3, 4, 5]
# two way to acess list
for x in range(len(first)):
    print(first[x])
for x in first:
    print(x)
first.insert(3, "Muhammad")
first.append('Adil')
first
first.pop(2)
first
# many more function we can use to play with list

1
2
3
4
5
1
2
3
4
5

[1, 2, 'Muhammad', 4, 5, 'Adil']

In [71]:
name = [[1,2,3, 4], [4,5,6, 5],[7,8,9, 6]]
for x in name:
    print(x)
print(name[1][2:])

[1, 2, 3, 4]
[4, 5, 6, 5]
[7, 8, 9, 6]
[6, 5]

In [94]:
# list comprehensive **** IMPORTANT ******
fruits = ["apple", "banana", "cherry"]
[print(x) for x in fruits]
number = [1,2,3, 4]
x = [x**2 for x in number if x == 2]
print(x)
squared_numbers = [(lambda x: x**2)(x) for x in number if (x ==2) or (x == 4)]

print(squared_numbers)

apple
banana
cherry
[4]
[4, 16]

In [111]:
# maping 
number = [1,2,3, 4]
new = list(map(lambda x: x+x if x%2 == 0 else x, number))
new

[1, 4, 3, 8]

In [123]:
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
yy = json.dumps(x, indent=4)

# the result is a JSON string:
print(yy)

{
    "name": "John",
    "age": 30,
    "city": "New York"
}

In [128]:
num = input("Enter number 1")
try:
    if l == 1: 
        print('A')
    else:
        print('B')
except:
    print('Incorrect entry')

Enter number 11
Incorrect entry