In [14]:
# start with series in Pandas
import pandas as pd
import numpy as np

list = [3, 4, 5, 6, 7, 8]
series = pd.Series(list, index=['three', 'four', 'five', 'six', 'seven', 'eight'])
series

three    3
four     4
five     5
six      6
seven    7
eight    8
dtype: int64

In [8]:
# grabbing the elements in series
# p = series['seven']
series[series>4].sum()

7

In [12]:
# dictionary is automatically give labels to series
Dic = {'one': 1, 'two': 2, 'three': 3}
D = pd.Series(Dic)

In [13]:
sm = D['two'] + D['three']
sm

5

In [20]:
# DataFrames
#Main concept and deal with 2 Dimenssion data
data = np.random.randn(5,5)
df = pd.DataFrame(data, ['A', 'B', 'C', "D", 'E'], ['P', 'W', 'X', 'Y', "Z"])
df

          P         W         X         Y         Z
A -0.589359  0.610243 -1.439016  0.240997  0.336260
B  0.687684 -0.600435 -0.600387 -0.404632  3.426709
C  0.275180  0.459606  1.146477 -0.274715  0.826316
D -0.988487  0.866638  1.564309  0.620809  1.269548
E  1.975930 -1.921486 -2.121143  0.582334  0.713364

In [21]:
# Grabbing values from rows and columns as well
df['P']

A   -0.589359
B    0.687684
C    0.275180
D   -0.988487
E    1.975930
Name: P, dtype: float64

In [22]:
df[['W', 'X', 'Y']]

          W         X         Y
A  0.610243 -1.439016  0.240997
B -0.600435 -0.600387 -0.404632
C  0.459606  1.146477 -0.274715
D  0.866638  1.564309  0.620809
E -1.921486 -2.121143  0.582334

In [24]:
df

          P         W         X         Y         Z
A -0.589359  0.610243 -1.439016  0.240997  0.336260
B  0.687684 -0.600435 -0.600387 -0.404632  3.426709
C  0.275180  0.459606  1.146477 -0.274715  0.826316
D -0.988487  0.866638  1.564309  0.620809  1.269548
E  1.975930 -1.921486 -2.121143  0.582334  0.713364

In [23]:
df.loc['A']

P   -0.589359
W    0.610243
X   -1.439016
Y    0.240997
Z    0.336260
Name: A, dtype: float64

In [25]:
df.loc['B']['X']

-0.6003866953185851

In [26]:
df.loc[['A', 'B']]

          P         W         X         Y         Z
A -0.589359  0.610243 -1.439016  0.240997  0.336260
B  0.687684 -0.600435 -0.600387 -0.404632  3.426709

In [54]:
# conditional selection from the dataFrame
df[df>0]

          P         W         X         Y         Z
A       NaN  0.610243       NaN  0.240997  0.336260
B  0.687684       NaN       NaN       NaN  3.426709
C  0.275180  0.459606  1.146477       NaN  0.826316
D       NaN  0.866638  1.564309  0.620809  1.269548
E  1.975930       NaN       NaN  0.582334  0.713364

In [53]:
df

          P         W         X         Y         Z
A -0.589359  0.610243 -1.439016  0.240997  0.336260
B  0.687684 -0.600435 -0.600387 -0.404632  3.426709
C  0.275180  0.459606  1.146477 -0.274715  0.826316
D -0.988487  0.866638  1.564309  0.620809  1.269548
E  1.975930 -1.921486 -2.121143  0.582334  0.713364

In [58]:
df[df['W']>0]

          P         W         X         Y         Z
A -0.589359  0.610243 -1.439016  0.240997  0.336260
C  0.275180  0.459606  1.146477 -0.274715  0.826316
D -0.988487  0.866638  1.564309  0.620809  1.269548

In [63]:
df[df['W']>0][['W', 'X']]

          W         X
A  0.610243 -1.439016
C  0.459606  1.146477
D  0.866638  1.564309

In [64]:
df

          P         W         X         Y         Z
A -0.589359  0.610243 -1.439016  0.240997  0.336260
B  0.687684 -0.600435 -0.600387 -0.404632  3.426709
C  0.275180  0.459606  1.146477 -0.274715  0.826316
D -0.988487  0.866638  1.564309  0.620809  1.269548
E  1.975930 -1.921486 -2.121143  0.582334  0.713364

In [65]:
df.reset_index()

  index         P         W         X         Y         Z
0     A -0.589359  0.610243 -1.439016  0.240997  0.336260
1     B  0.687684 -0.600435 -0.600387 -0.404632  3.426709
2     C  0.275180  0.459606  1.146477 -0.274715  0.826316
3     D -0.988487  0.866638  1.564309  0.620809  1.269548
4     E  1.975930 -1.921486 -2.121143  0.582334  0.713364

In [84]:
df.set_index('P') # point as index to any column
df

          P         W         X         Y         Z
A -0.589359  0.610243 -1.439016  0.240997  0.336260
B  0.687684 -0.600435 -0.600387 -0.404632  3.426709
C  0.275180  0.459606  1.146477 -0.274715  0.826316
D -0.988487  0.866638  1.564309  0.620809  1.269548
E  1.975930 -1.921486 -2.121143  0.582334  0.713364

In [88]:
#operation on dataset
df
df['W'].isnull()

A    False
B    False
C    False
D    False
E    False
Name: W, dtype: bool

In [97]:
df
# df.sort_values(by='W')

          P         W         X         Y         Z
A -0.589359  0.610243 -1.439016  0.240997  0.336260
B  0.687684 -0.600435 -0.600387 -0.404632  3.426709
C  0.275180  0.459606  1.146477 -0.274715  0.826316
D -0.988487  0.866638  1.564309  0.620809  1.269548
E  1.975930 -1.921486 -2.121143  0.582334  0.713364

In [95]:
df['W'].unique()

array([ 0.61024324, -0.60043481,  0.45960568,  0.86663809, -1.92148628])

In [98]:
df.loc['A'].apply(lambda x : x+x)

P   -1.178719
W    1.220486
X   -2.878033
Y    0.481994
Z    0.672519
Name: A, dtype: float64